<div style="background-color: #0000ed;color: red;font-size: 2.3em;">
<ng-content></ng-content>
<p>
  <li *ngFor="let a of theArray; let index = index">Something {{a}} object is {{index}}</li>
  page02 yall {{dog}}!
</p>
</div>
